@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
  background-image: url("/assets/images/bgg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
  position: relative;
}

table{
  width: 100%;
  text-align: left;
}
table thead tr th{
  @apply py-6 border-b-[1px] border-ash
} 
table tbody tr{
  @apply border-b-[1px] border-ash
}

table tbody tr td {
  @apply py-3 
}

.action {
  @apply p-3 transition-all px-6 text-left hover:text-white hover:bg-blue rounded-md
}

.zoom {
  @apply animate-in fade-in zoom-in;
}
